@using M13n.Helpers
@{
    var rawUrl= this.Request.RawUrl;
    var curCulture = this.UICulture;
    var hasCultureInPath = rawUrl.Split('/').Contains(curCulture);
    var cuString = string.Empty;
}


@*
---DISCLAIMER---
I show flags in the links with the language name BUT country flags are NOT languages.
I did this because it's more visually appealing in the prototype but PLEASE DON'T DO THIS IN PRODUCTION.
*@

@*
TODO: Improve the culture control, this 'quick' if-else must be refactored in something more elegant
*@

<ul id="langselect">
@foreach (CultureIdentifier cu in Enum.GetValues(typeof(CultureIdentifier)))
{
    <li>
        @{
            cuString = cu.ToString();
            if (!(hasCultureInPath && string.CompareOrdinal(cuString, curCulture) == 0))
            {
                <a href="@Url.Action("ChangeCulture", "Culture", new {lang = (int) cu, returnUrl = rawUrl, culture = curCulture, area = ""})" id="culture_@cu.ToString()">
                    <img src="@Url.Content("~/Images/Flags/" + cuString + ".png")" alt="" />
                    @CultureNames.ResourceManager.GetString(cuString)                        
                </a>
            }
            else
            {
                <strong>
                    <img src="@Url.Content("~/Images/Flags/" + cuString + ".png")" alt="" />
                    @CultureNames.ResourceManager.GetString(cuString)                        
                </strong>
            }
        }
    </li>
}
</ul>