@model M13n.Models.ContactModel
@using M13n.Resources.Views

<hgroup class="title">
    <h1>@HomeStrings.Contact_Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>@HomeStrings.Contact_PageSubTitle</h3>
    </header>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, @HomeStrings.Contact_ValidationSummary)

        <fieldset>
            <div>
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.LabelFor(x => x.Subject )
                @Html.TextBoxFor(x => x.Subject)
                @Html.ValidationMessageFor(x => x.Subject)
            </div>
            <div>
                @Html.LabelFor(x => x.Message)
                @Html.TextAreaFor(x => x.Message)
                @Html.ValidationMessageFor(x => x.Message)
            </div>
            <input type="submit" value="@HomeStrings.Contact_SendButtonLabel" />

        </fieldset>
        
    }

</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
